<!DOCTYPE html>
<html>
<head>
<title>I'm at a bus stop</title>
<script src="/static/jquery-2.2.4.js"></script>
<script src="/static/bootstrap-3.3.7.js"></script>
<link rel="stylesheet" href="/static/bootstrap-3.3.7.css">
<script type="text/javascript">


    function expandSelected(el) {
        $(el).find('.expanded').toggle('hidden')
    }

    function discoverOnButtonClick() {

        let filters = [];


        navigator.bluetooth.requestDevice({
            filters: [{
                name: "Nordic_HRM"
            }]
        })
        .then(device => {
             /* ... */ 
             
         })
        .catch(error => { console.log(error); });

      let filterService = document.querySelector('#service').value;
      if (filterService.startsWith('0x')) {
        filterService = parseInt(filterService);
      }
      if (filterService) {
        filters.push({services: [filterService]});
      }

      let filterName = document.querySelector('#name').value;
      if (filterName) {
        filters.push({name: filterName});
      }

      let filterNamePrefix = document.querySelector('#namePrefix').value;
      if (filterNamePrefix) {
        filters.push({namePrefix: filterNamePrefix});
      }

      log('Requesting Bluetooth Device...');
      navigator.bluetooth.requestDevice({filters: filters})
      .then(device => {
        log('> Name:             ' + device.name);
        log('> Id:               ' + device.id);
        log('> Allowed Services: ' + device.uuids.join('\n' + ' '.repeat(20)));
        log('> Connected:        ' + device.gatt.connected);
      })
      .catch(error => {
        log('Argh! ' + error);
      });
    }


</script>
<style>
 .expanded {

 }
</style>
</head>

<div class="row">
    {% for key, val in routes.iteritems() %}
    <div class="col-xs-12 col-md-6" style="text-align: center; display: inline-block; padding: 20px;">
        <div class="row">
            <button class="btn btn-default" style="width: 80%;  background-color: #FCAD0F; color: white;" onclick="expandSelected(this)">
                <div class="col-xs-6" style="text-align: left; "> {{ key }} {{ val.name }} </div>
                <div style="text-align: right;">{{ val.stop_times }} Mins</div>
                <div class="expanded" style="text-align: right; display: none">asdfasdf</div>

            </button>
        </div>
    </div>
{% endfor %}
</div>


<a href="/onboard"> Im on a bus now YOLO</a>

<button type="button" class="btn btn-default" onclick="discoverOnButtonClick()">Default</button>
