<!DOCTYPE html>
<html>
<head>
<title>I'm at a bus stop</title>
<script src="/static/jquery-2.2.4.js"></script>
<script src="/static/bootstrap-3.3.7.js"></script>
<link rel="stylesheet" href="/static/bootstrap-3.3.7.css">
<script type="text/javascript">
    function expandSelected(el) {
        $(el).find('.expanded').toggle('hidden')
    }
</script>

<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBfyz3Z_dqNHK7dn0JJT4GwqXP1R_xizWo",
    authDomain: "hackthenorth16-1532.firebaseapp.com",
    databaseURL: "https://hackthenorth16-1532.firebaseio.com",
    storageBucket: "hackthenorth16-1532.appspot.com",
    messagingSenderId: "156903675042"
  };
  firebase.initializeApp(config);
</script>
<style>
 .expanded {

 }
</style>
</head>

<div class="row">
    {% for i in range(10) %}
    <div class="col-xs-12 col-md-6" style="text-align: center; display: inline-block; padding: 20px;">
        <div class="row">
            <button class="btn btn-default" style="width: 80%;  background-color: #FCAD0F; color: white;" onclick="expandSelected(this)">
                <div class="col-xs-6" style="text-align: left; "> Bus {{ i }} </div>
                <div style="text-align: right;">{{ i }} Mins</div>
                <div class="expanded" style="text-align: right; display: none">asdfasdf</div>

            </button>
        </div>
    </div>
{% endfor %}
</div>


<a href="/onboard"> Im on a bus now YOLO</a>